.root {
    display: flex;
    flex-direction: column;
}

.root h3 {
    display: flex;
    flex-direction: row;

    font-size: 12pt;
    text-transform: uppercase;
    color: var(--accent-color);
    font-weight: 600;
}

.root h4 {
    font-size: 10pt;
    font-weight: 500;

    display: flex;
    flex-direction: row;

}

.root h4 > :not(.location) {
    flex: 1;
}

.location {
    font-weight: 300;
    font-size: 8pt;
}

.marker {
    display: inline-block;
    height: 7pt;
    width: 7pt;
    margin-right: 1mm;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: -9.5%;
}

.name {
    flex: 1;
}

.period {
    font-family: var(--font-geist-sans);
    font-weight: 500;
    font-size: 11pt;
}