/* CSS declarations go here */

.main {
    -webkit-print-color-adjust: exact;

    width: 210mm;
    height: 296.9mm;
    font-family: "Roboto", sans-serif;
    font-size: 9pt;

    display: flex;
    flex-direction: column;

    --primary-color: #45A345;
    --primary-color-darker: #2F893F;
    --primary-color-darkest: #255C2C;
}

.main #sh1 {
    fill: var(--primary-color);
}

.main h1,
.main h2 {
    text-transform: uppercase;
}

.main h1 {
    font-size: 18pt;
}

.main h2 {
    font-size: 12pt;
    color: var(--primary-color);
}

.main p {
    text-align: justify;
}

.main > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50mm;
    height: 50mm;
    padding-left: 10mm;
    gap: 7mm;

    position: relative;
}

.avatar {
    border-radius: 100%;
    height: 30mm;

    box-shadow: 0 0 0px 4pt var(--primary-color);
    border: 4pt solid var(--primary-color-darker);
    background-color: var(--primary-color-darkest);
}

.profile {
    text-transform: uppercase;
}

.name {
    font-size: 36pt;
    white-space: nowrap;
}

.job {
    font-size: 18pt;
    color: var(--primary-color);
}

.main > footer {
    background: var(--primary-color);
    height: 8mm;
    
}

.content {
    flex: 1;
    overflow: hidden;
    margin-bottom: 4mm;
}


.bullet {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    width: auto;
}