.root {
    font-family: var(--font-geist-sans);
    font-size: 18pt;
    font-weight: 700;
    color: var(--text-title);
    text-transform: uppercase;
    
}

.bullet {
    display: inline-block;
    height: 5mm;
    width: 7mm;
    margin-right: 2mm;
    transform: rotateY(180deg);
}