.root {
    display: flex;
    flex-direction: column;
    border-bottom: 1pt solid #e3e3e3;
}

.root h3 {
    display: flex;
    flex-direction: row;

    font-size: 12pt;
    text-transform: uppercase;
    color: var(--accent-color);
}

.root h3 > div:first-of-type {
    flex: 1;
}

.root h4 {
    font-size: 10pt;
    font-weight: 500;
}

.root p {
    margin: 3mm 0;
}