.root {
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.root > svg {
    margin-right: 4mm;
    background: var(--accent-color);
    border-radius: 100%;
    border: 3pt solid var(--accent-color);
    height: 12pt;
    width: 12pt;
}