.root {
    -webkit-print-color-adjust: exact;

    width: var(--page-width);
    min-width: var(--page-width);
    max-width: var(--page-width);

    height: var(--page-height);
    min-height: var(--page-height);
    max-height: var(--page-height);

    font-family: var(--font-geist-sans);
    font-size: 9pt;
    letter-spacing: -0.06sem;

    display: flex;
    flex-direction: column;
    
    position: relative;
    isolation: isolate;
    z-index: 0;

    background-color: var(--bg-primary);
    color: var(--text-base);
}

.root #sh1 {
    fill: var(--primary-color);
}

.root p {
    text-align: justify;
}

.root > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50mm;
    height: 50mm;
    padding-left: 10mm;
    gap: 7mm;

    position: relative;
}

.avatar {
    z-index: 0;
    position: relative;
    border-radius: 100%;

    --gutter: 8pt;
    --size: calc(30mm + var(--gutter));
    
    height: var(--size);
    width: var(--size);

    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar > *,
.avatar::after,
.avatar::before {
    height: inherit;
    width: inherit;
}

.avatar::after,
.avatar::before {
    --rest: calc(var(--size) - var(--margin));
    --amplitude: calc(var(--gutter) / 2);

    position: absolute;
    border-radius: 50%;
    content: ' ';

    height: var(--rest);
    width: var(--rest);
}

.avatar::before {
    --margin: var(--gutter);
    z-index: 1;
    background-color: var(--primary-color-darker);
}

.avatar::after {
    --margin: calc(var(--gutter) * 2);
    z-index: 2;
    background-color: var(--primary-color-darkest);
}

.avatar > * {
    position: absolute;
    z-index: 3;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
    height: 30mm;
    width: 30mm;
}

.profile {
    text-transform: uppercase;
}

.name {
    font-size: 36pt;
    white-space: nowrap;
    letter-spacing: -0.04em;
}

.job {
    font-size: 18pt;
    color: var(--text-subtitle);
}

.root > footer {
    background: var(--bg-footer);
    height: 8mm;   
}

.content {
    flex: 1;
    overflow: hidden;
    margin-bottom: 4mm;
}


.bullet {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    width: auto;
}

@media screen {
    @keyframes avatar-disc {
        0% {
          height: calc(var(--rest) + var(--amplitude) + var(--offset));
          width: calc(var(--rest) + var(--amplitude) + var(--offset));
        }
      
        45% {
            height: calc(var(--rest) - var(--amplitude) + var(--offset));
            width: calc(var(--rest) - var(--amplitude) + var(--offset));
        }
      
        100% {
            height: calc(var(--rest) + var(--amplitude) + var(--offset));
            width: calc(var(--rest) + var(--amplitude) + var(--offset));
        }
    }

    .avatar {
        --duration: 1.8s;
    }

    .avatar::before {
        --amplitude: 2pt;
        --offset: -4pt;
        animation: var(--duration) ease-in-out calc((25/100) * var(--duration)) infinite normal none running avatar-disc;
    }
    
    .avatar::after {
        --amplitude: 4pt;
        --offset: -8pt;
        animation:  var(--duration) ease-in-out 0s infinite normal none running avatar-disc;
    }
}


.hand {
    position: absolute;
    font-size: 26pt;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: inline-block;
}

@media screen {
    .hand {
        animation-name: hand-wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    }
}

@keyframes hand-wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}