.root {
    -webkit-print-color-adjust: exact;

    width: var(--page-width);
    min-width: var(--page-width);
    max-width: var(--page-width);

    height: var(--page-height);
    min-height: var(--page-height);
    max-height: var(--page-height);

    font-family: "Roboto", sans-serif;
    font-size: 9pt;

    display: flex;
    flex-direction: column;

    background-color: white;
    position: relative;
    z-index: 0;
}

.root #sh1 {
    fill: var(--primary-color);
}

.root h1,
.root h2 {
    text-transform: uppercase;
}

.root h1 {
    font-size: 18pt;
}

.root h2 {
    font-size: 12pt;
    color: var(--primary-color);
}

.root p {
    text-align: justify;
}

.root > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50mm;
    height: 50mm;
    padding-left: 10mm;
    gap: 7mm;

    position: relative;
}

.avatar {
    border-radius: 100%;
    height: 30mm;

    box-shadow: 0 0 0px 4pt var(--primary-color);
    border: 4pt solid var(--primary-color-darker);
    background-color: var(--primary-color-darkest);
}

.profile {
    text-transform: uppercase;
}

.name {
    font-size: 36pt;
    white-space: nowrap;
}

.job {
    font-size: 18pt;
    color: var(--primary-color);
}

.root > footer {
    background: var(--primary-color);
    height: 8mm;
    
}

.content {
    flex: 1;
    overflow: hidden;
    margin-bottom: 4mm;
}


.bullet {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    width: auto;
}