.root,
.content {
    display: flex;
    flex-direction: column;   
    gap: 4mm;
}

.content {
    padding: 0 2mm;
}

.bullet {
    display: inline-block;
    height: 5mm;
    width: 7mm;
    margin-right: 2mm;
    transform: rotateY(180deg);
}