.root {
    padding: 15mm;
}

.root h1 {
    font-size: 20pt;
}

.root h1 > svg {
    transform: scale(1.1) rotateY(180deg);
}

.root h1,
.content p {
    margin-bottom: 10mm;
}

.content p {
    font-size: 12pt;
}