@page {
  margin: 0%;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --page-width: 210mm;
  --page-height: 296.9mm;
  --primary-color: #45A345;
  --primary-color-darker: #2F893F;
  --primary-color-darkest: #255C2C;
}