@page {
  margin: 0%;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --page-width: 210mm;
  --page-height: 296.9mm;

  /* --bg-color-dark: #414439; */

  /* --primary-color: #45A345;
  --primary-color-darker: #2F893F;
  --primary-color-darkest: #255C2C;
  --accent-color: var(--primary-color); */
  

  /* --primary-color: #4cc9f0;
  --primary-color-darker: #4361ee;
  --primary-color-darkest: #3a0ca3;
  --accent-color: var(--primary-color-darker); */

  /* --primary-color: #b298dc;
  --primary-color-darker: #a663cc;
  --primary-color-darkest: #6f2dbd;
  --accent-color: var(--primary-color-darker); */

  /* --primary-color: #57cc99;
  --primary-color-darker: #38a3a5;
  --primary-color-darkest: #22577a;
  --accent-color: var(--primary-color-darker); */

  --primary-color: #e9c46a;
  --primary-color-darker: #2a9d8f;
  --primary-color-darkest: #264653;
  --accent-color: var(--primary-color);

  --base-black: color-mix(in srgb, white, #414439 90%);
  --base-white: color-mix(in srgb, white, #414439 15%);

  --bg-primary: white;
  --bg-secondary: color-mix(in srgb, var(--primary-color-darker), #414439 100%);

  --text-title: var(--base-black);
  --text-subtitle: var(--accent-color);
  --text-base: var(--base-black);
  --bg-footer: var(--primary-color-darker);
}

:root aside {
  --text-title: var(--base-white);
  --text-subtitle: var(--primary-color);
  --text-base: var(--base-white);
  --bg-tag: var(--primary-color);
  --text-tag: var(--base-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-title: var(--base-white);
    --text-subtitle: var(--accent-color);
    --text-base: var(--base-white);
    --bg-footer: var(--primary-color-darker);

    --bg-primary: color-mix(in srgb, var(--primary-color-darkest), #414439 85%);
    --bg-secondary: var(--primary-color);
  }

  :root aside {
    --text-title: var(--base-black);
    --text-subtitle: var(--primary-color-darker);
    --text-base: var(--base-black);
    --bg-tag: var(--base-black);
    --text-tag: var(--base-white);
  }
}

svg path[fill] {
  fill: currentColor;
}