@page {
  margin: 0%;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --page-width: 210mm;
  --page-height: 296.9mm;

  /* --bg-color-dark: #414439; */

  /* --primary-color: #45A345;
  --primary-color-darker: #297a37;
  --primary-color-darkest: #173b1c; */

  /* --primary-color: #4cc9f0;
  --primary-color-darker: #4361ee;
  --primary-color-darkest: #3a0ca3; */

  /* --primary-color: #b298dc;
  --primary-color-darker: #a663cc;
  --primary-color-darkest: #6f2dbd; */

  /* --primary-color: #57cc99;
  --primary-color-darker: #38a3a5;
  --primary-color-darkest: #22577a; */

  --primary-color: #e9c46a;
  --primary-color-darker: #2a9d8f;
  --primary-color-darkest: #264653;

  /* --dark: #414458; */
  /* --dark: #414439; */
  --dark: var(--primary-color-darkest);

  --base-black: color-mix(in srgb, var(--dark), black 20%);
  --base-white: color-mix(in srgb, white, var(--base-black) 15%);

  --bg-primary: white;
  --bg-secondary: color-mix(in srgb, var(--primary-color-darker), var(--base-black) 95%);

  --text-title: var(--text-base);
  --text-subtitle: var(--primary-color);
  --text-base: var(--base-black);
  --bg-footer: var(--primary-color-darker);
}

:root aside {
  --text-title: var(--text-base);
  --text-subtitle: var(--primary-color-darker);
  --text-base: var(--base-white);
  --bg-tag: var(--text-subtitle);
  --text-tag: var(--text-base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-subtitle: var(--primary-color);
    --text-base: var(--base-white);
    --bg-footer: var(--primary-color-darker);

    --bg-primary: color-mix(in srgb, var(--primary-color-darkest), var(--base-black) 85%);
    --bg-secondary: var(--primary-color);
  }

  :root aside {
    --text-subtitle: var(--primary-color-darker);
    --text-base: var(--base-black);
  }
}

svg path[fill] {
  fill: currentColor;
}