.resume {
    display: flex;
    flex-direction: row;
}

.resume aside {
    padding: 7mm 10mm;
    background: #414439;
    width: 30%;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 7mm;
}

.resume aside ul > li a {
    color: inherit;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 7mm 5mm;
    gap: 7mm;
}

.experiences,
.curriculum {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4mm;
}

.contacts,
.skills,
.languages,
.other {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2mm;
}

.tags {
    padding-top: 2mm;
    display: flex;
    gap: 2mm;
    flex-wrap: wrap;
}

.tags > li {
    display: inline-block;
    padding: 1mm 2mm;
    border-radius: 3mm;
    line-height: 1em;
    background: var(--primary-color);
}