.root {
    display: flex;
    flex-direction: row;
}

.root aside {
    padding: 7mm 10mm;
    background: #414439;
    width: 30%;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 7mm;
}

.root aside ul > li a {
    color: inherit;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 7mm 5mm;
    gap: 7mm;
}

.experiences,
.curriculum {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4mm;
}

.contacts,
.skills,
.languages,
.other {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2mm;
}

.tags {
    padding-top: 2mm;
    display: flex;
    gap: 2mm;
    flex-wrap: wrap;
}

.tags > li {
    display: inline-block;
    padding: 1mm 2mm;
    border-radius: 3mm;
    line-height: 1em;
    background: var(--accent-color);
}


.beacon {
    background: none;
    border: none;
    transform: translate(12px, 12px);
    cursor: inherit;
}


.hand {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 26pt;

    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
  