.root {
    display: flex;
    flex-direction: row;
}

.root aside {
    padding: 7mm 10mm;
    
    width: 30%;
    background: var(--bg-secondary);

    display: flex;
    flex-direction: column;
    gap: 7mm;

    border-radius: 0 8px 8px 0;
}

.root aside a,
.root aside p,
.root aside li {
    color: var(--text-base);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 7mm 5mm;
    gap: 7mm;
}

.experiences,
.curriculum {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4mm;
}

.contacts,
.skills,
.languages,
.other {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2mm;
}

.tags {
    padding-top: 2mm;
    display: flex;
    gap: 2mm;
    flex-wrap: wrap;
}

.root aside .tags > li {
    display: inline-block;
    padding: 1mm 2mm;
    border-radius: 3mm;
    line-height: 1em;
    background: var(--bg-tag);
    color: var(--text-tag);
}
